body{
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  border-radius:3px;
  border:none;
  padding:10px;
  background-color: rgb(51, 102, 255);
  color:white;
  outline:none;
  cursor:pointer;
  font-size: 20px;
}
.quotes_wrap{
  margin:25px;
  height:10em;
  width:68em;
}
